Proyecto/ProyectServer/ProyectServer/Connected Services/usergraph/graficarusuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="graficar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bin" type="tns:binario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="binario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="izq" type="tns:usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="der" type="tns:usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="graficarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="graficarSoapIn">
    <wsdl:part name="parameters" element="tns:graficar" />
  </wsdl:message>
  <wsdl:message name="graficarSoapOut">
    <wsdl:part name="parameters" element="tns:graficarResponse" />
  </wsdl:message>
  <wsdl:portType name="graficarusuariosSoap">
    <wsdl:operation name="graficar">
      <wsdl:input message="tns:graficarSoapIn" />
      <wsdl:output message="tns:graficarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="graficarusuariosSoap" type="tns:graficarusuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="graficar">
      <soap:operation soapAction="http://tempuri.org/graficar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="graficarusuariosSoap12" type="tns:graficarusuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="graficar">
      <soap12:operation soapAction="http://tempuri.org/graficar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="graficarusuarios">
    <wsdl:port name="graficarusuariosSoap" binding="tns:graficarusuariosSoap">
      <soap:address location="http://localhost:54818/Services/graficarusuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="graficarusuariosSoap12" binding="tns:graficarusuariosSoap12">
      <soap12:address location="http://localhost:54818/Services/graficarusuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>