Proyecto/ProyectServer/ProyectServer/Connected Services/actualizaruser/actualizarusuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_" type="tns:usuario" />
            <s:element minOccurs="0" maxOccurs="1" name="nick_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass_" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="usuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="izq" type="tns:usuario" />
          <s:element minOccurs="0" maxOccurs="1" name="der" type="tns:usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="actualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="actualizarResult" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bin_" type="tns:binario" />
            <s:element minOccurs="0" maxOccurs="1" name="nick_" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="binario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="raiz" type="tns:usuario" />
        </s:sequence>
      </s:complexType>
      <s:element name="buscarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarResult" type="tns:usuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bin_" type="tns:binario" />
            <s:element minOccurs="0" maxOccurs="1" name="nick_" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass_" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertarResult" type="tns:binario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bin_" type="tns:binario" />
            <s:element minOccurs="0" maxOccurs="1" name="nick_" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eliminarResult" type="tns:binario" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="actualizarSoapIn">
    <wsdl:part name="parameters" element="tns:actualizar" />
  </wsdl:message>
  <wsdl:message name="actualizarSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarResponse" />
  </wsdl:message>
  <wsdl:message name="buscarSoapIn">
    <wsdl:part name="parameters" element="tns:buscar" />
  </wsdl:message>
  <wsdl:message name="buscarSoapOut">
    <wsdl:part name="parameters" element="tns:buscarResponse" />
  </wsdl:message>
  <wsdl:message name="insertarSoapIn">
    <wsdl:part name="parameters" element="tns:insertar" />
  </wsdl:message>
  <wsdl:message name="insertarSoapOut">
    <wsdl:part name="parameters" element="tns:insertarResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapIn">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="eliminarSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="actualizarusuariosSoap">
    <wsdl:operation name="actualizar">
      <wsdl:input message="tns:actualizarSoapIn" />
      <wsdl:output message="tns:actualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <wsdl:input message="tns:buscarSoapIn" />
      <wsdl:output message="tns:buscarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <wsdl:input message="tns:insertarSoapIn" />
      <wsdl:output message="tns:insertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input message="tns:eliminarSoapIn" />
      <wsdl:output message="tns:eliminarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="actualizarusuariosSoap" type="tns:actualizarusuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="actualizar">
      <soap:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap:operation soapAction="http://tempuri.org/buscar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap:operation soapAction="http://tempuri.org/insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="actualizarusuariosSoap12" type="tns:actualizarusuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="actualizar">
      <soap12:operation soapAction="http://tempuri.org/actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscar">
      <soap12:operation soapAction="http://tempuri.org/buscar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap12:operation soapAction="http://tempuri.org/insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap12:operation soapAction="http://tempuri.org/eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="actualizarusuarios">
    <wsdl:port name="actualizarusuariosSoap" binding="tns:actualizarusuariosSoap">
      <soap:address location="http://localhost:54818/Services/actualizarusuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="actualizarusuariosSoap12" binding="tns:actualizarusuariosSoap12">
      <soap12:address location="http://localhost:54818/Services/actualizarusuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>