Proyecto/ProyectServer/ProyectServer/Connected Services/graficadorjuegos/graficarlistadejuegos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="graficar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listado" type="tns:listajuegos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="listajuegos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="primero" type="tns:juego" />
          <s:element minOccurs="1" maxOccurs="1" name="cont" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="juego">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userbase" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="oponente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="siguiente" type="tns:juego" />
          <s:element minOccurs="0" maxOccurs="1" name="anterior" type="tns:juego" />
          <s:element minOccurs="1" maxOccurs="1" name="desplegadas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="sobrevivientes" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="destruidas" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="gano" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cont" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="graficarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graficarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="graficarSoapIn">
    <wsdl:part name="parameters" element="tns:graficar" />
  </wsdl:message>
  <wsdl:message name="graficarSoapOut">
    <wsdl:part name="parameters" element="tns:graficarResponse" />
  </wsdl:message>
  <wsdl:portType name="graficarlistadejuegosSoap">
    <wsdl:operation name="graficar">
      <wsdl:input message="tns:graficarSoapIn" />
      <wsdl:output message="tns:graficarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="graficarlistadejuegosSoap" type="tns:graficarlistadejuegosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="graficar">
      <soap:operation soapAction="http://tempuri.org/graficar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="graficarlistadejuegosSoap12" type="tns:graficarlistadejuegosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="graficar">
      <soap12:operation soapAction="http://tempuri.org/graficar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="graficarlistadejuegos">
    <wsdl:port name="graficarlistadejuegosSoap" binding="tns:graficarlistadejuegosSoap">
      <soap:address location="http://localhost:54818/Services/graficarlistadejuegos.asmx" />
    </wsdl:port>
    <wsdl:port name="graficarlistadejuegosSoap12" binding="tns:graficarlistadejuegosSoap12">
      <soap12:address location="http://localhost:54818/Services/graficarlistadejuegos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>